<div class= "appBar appBarText footer ">
      <!-- <div fxLayout="row" fxLayoutAlign="end">
        <div fxLayout="column" fxLayoutAlign="end">
            <img src="../../assets/download.jpeg" class="footer" height="150px" width="300px">
        </div>
         <div fxLayout="column" fxLayoutAlign="left">
            <a mat-button fxFlex="auto">Item 1</a>
            <a mat-button fxFlex="auto">Item 2</a>
            <a mat-button fxFlex="auto">Item 3</a>
            <a mat-button fxFlex="auto">Item 4</a>
        </div> -->
      <!-- </div> -->
      <div>
        <mat-toolbar-row>
                      <img src="../../assets/download.jpeg" class="footer" height="150px" width="300px">
        </mat-toolbar-row>
    </div>
    <div class="footerText appBarText">
            Devloped By
    </div>
        
        
</div> 
